
.ablumData{
    margin: 5%;
}
.cardHeader{
    background-color: cadetblue !important;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    border: 1px solid lightslategray;
    padding: 10px;
}
.loading{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}
.albumList{
    padding: 5px;
    text-align: left;
    border: 1px solid lightslategray;
    margin: 1px 0;
    border-radius: 5px;
}
.thumbnail{
    text-align: center;
}
.GoBackBtn{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    background-color: cadetblue;
}
.clickmetext{
    color: cadetblue;
    font-size: 18px;
    font-weight: 700;
}
.errorMessage{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.ablumtitle{
    font-size: 18px;
    font-weight: 700;
}
.ablumText{
    font-size: 18px;
    font-weight: 500;
}
.flexContainer{
    margin: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.tooltip {
    position: relative;
    display: inline-block;
    margin: 5px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
  
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .centered{
      text-align: center;
      
  }
  @media screen and (max-width: 480px ) {
   .container{
       overflow-x: scroll;
   }
  }